
body {
    background-color: white;
    margin: 0 auto;
}

/* Header (language button included) */

.header {
    background: url('../images/visuals_2480x520.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 124px;
}

.language_button {
    float: right;
}

.language_button-label {
    color: red;
}

/* h1 & h2 */

h1, h2 {
    text-align: center;
    border: 5px black solid;
    border-radius: 10px;
    box-shadow: 3px 3px 15px grey;
    text-shadow: 3px 3px 10px grey;
}

h1 {
    font-style: oblique;
}

#en_cours_de_construction {
    color: red;
}

/* Quick links */

.quick_links h2 {
    font-family: Impact, 'Arial Black', Arial, Verdana, sans-serif;
    color: darkblue;
    font-size: 1.27em;
    font-style: normal;
    text-decoration: underline;
    float: left;
}

.quick_links_list {
    display: block;
    margin: auto;
    width: 150px;
    background-color: silver;
}

/* Partners */

section.partners figure img {
    display: block;
    margin: auto;
    width: 400px;
}

#nos_partenaires {
    color: rgb(112, 112, 117);
}

/* Downloads */

#Telechargements {
    color: limegreen;
}