
body {
    margin: 1px;
}

section.top-page {
    background: url('../images/visuals_2480x520.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 124px;
}

/* Language button */
