
body {
    margin: 0 auto;
}

/* Top-page */

section.top-page {
    background: url('../images/visuals_2480x520.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 124px;
}

/* h1 & h2 */

h1, h2 {
    text-align: center;
}

#en_cours_de_construction {
    color: red;
}

/* Language button */

section.top-page header {
    text-align: right;
}

/* Partners */

section.partners figure img {
    width: 400px;
    display: block;
    margin: auto;
}

#nos_partenaires {
    color: rgb(112, 112, 117);
}

/* Downloads */

#Telechargements {
    color: limegreen;
}